#create {
  max-width: 60%;
  min-height: 500px;
  margin: 77px auto;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  /* box-shadow: -1px 3px 7px 0px black; */
}

.create-header {
  text-align: center;
  padding: 20px 0;
}

.create-header h1 {
  font-size: 44px;
  margin: 0;
  letter-spacing: 1px;
}

.create-header p {
  font-size: 17.5px;
  margin: 5px 0 0;
}

.create-form-container {
  margin-top: 25px;
}

.createForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 530px;
  padding: 0 50px;
}

#create .formGroup {
  margin-bottom: 30px;
  position: relative;
  width: 40%;
}

.formGroup div {
	position: relative;
}

.formGroup label {
  display: block;
  font-size: 20px;
  margin: 0 0 5px;
}

#create .formGroup input, textarea {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  padding-left: 22px;
  font-weight: 700;
  width: 100%;
}

#create select {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-weight: 700;
  width: 100%;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

#create input[type='number'] {
  text-align: center;
}

.formGroup textarea {
  resize: none;
  height: 150px;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
}
 
#create .formGroup input:active, #create .formGroup textarea:active, #create select:active,
#create .formGroup input:focus, #create .formGroup textarea:focus, #create select:focus,
#create .formGroup input:hover, #create .formGroup textarea:hover, #create select:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

#create .submitBtn {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  color: #9342c9;
  box-shadow: 0px 2px 2px #b078d6;
  cursor: pointer;
  position: relative;
  text-align: left;
}

#create .submitBtn:active,
#create .submitBtn:focus,
#create .submitBtn:hover {
  border-color: #6a679e;
  outline: none;
}

#create .fa-chevron-right {
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.create-footer {
  text-align: center;
  width: 40%;
}

.profile-link {
  color: #9342c9;
  font-weight: bold;
}

.errorMsg {
  text-align: center;
  margin: 15px 0;
}

.errorMsg span {
  padding: 10px 30px;
  background: rgb(255, 163, 163);
  color: rgb(198, 0, 0);
  border-radius: 5px;
}
