.catalog-header {
    background: rgba(192, 146, 222, .2);
    padding: 50px 50px;
    font-size: 50px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    box-shadow: 1px 11px 20px 0px rgb(0 0 0 / 10%)
}

.catalog-header span {
    display: inline-block;
    font-size: 1.2em;
    max-width: 800px;
    line-height: 70px;
    font-style: italic;
}

.catalog-header p {
    font-weight: bold;
}

.catalog-header a {
    color: white;
    background: #8E31CC;
    padding: 8px 50px;
    font-size: 0.45em;
    border-radius: 20px;
    position: relative;
}

#catalog .fa-chevron-right {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.catalog-header a:hover {
    background: #9a4bce;
}

.catalog-container {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}

.catalog-container a {
    width: 60%;
    max-width: 60%;
    color: black;
    margin-bottom: 25px;
}

.catalog-container a:nth-last-child(1){
    margin-bottom: 0;
}

.empty-catalog {
    padding: 40px 40px;
    background: rgba(245, 245, 245, .3);
    border-radius: 10px;
}