header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 86px; */
    background: rgb(192,146,222);
background: linear-gradient(90deg, rgba(192,146,222,1) 0%, rgba(151,78,199,1) 64%, rgba(136,15,212,1) 100%);
    padding: 0 88px;
    color: white;
    /* border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px; */
}

.header-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #682095;
}



nav {
    display: flex;
    align-items: center;
}

.nav-items {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 0 9px;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item:hover {
    background: #a15acd;
}

a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
}