#register {
  max-width: 60%;
  min-height: 500px;
  margin: 77px auto;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  /* box-shadow: -1px 3px 7px 0px black; */
}

.register-header {
  text-align: center;
  padding: 20px 0;
}

.register-header h1 {
  font-size: 44px;
  margin: 0;
  letter-spacing: 1px;
}

.register-header p {
  font-size: 17.5px;
  margin: 5px 0 0;
}

.register-form-container {
  margin-top: 25px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 30px;
	position: relative;
}

.formGroup div {
	position: relative;
}

.formGroup label {
  display: block;
  font-size: 20px;
	margin: 0 0 5px;
}

.inputIcon {
	position: absolute;
	top: 50%;
	left: 11px;
	transform: translateY(-50%);
}

.formGroup input{
  border: none;
	border-bottom: 2px solid #D1D1D4;
	background: rgba(255, 255, 255, 0.5);
	padding: 10px;
	padding-left: 33px;
	font-weight: 700;
	width: 350px;
}

.formGroup input:active,
.formGroup input:focus,
.formGroup input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.submitBtn {
	width: 300px;
	background: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	color: #9342C9;
	box-shadow: 0px 2px 2px #B078D6;
	cursor: pointer;
	position: relative;
	text-align: left;
}

.submitBtn:active,
.submitBtn:focus,
.submitBtn:hover {
	border-color: #6A679E;
	outline: none;
}

#register .fa-chevron-right {
	font-size: 25px;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.register-footer {
	text-align: center;
	padding-bottom: 20px;
}

.signin-text {
	color: #9342C9;
	font-weight: bold;
}

.errorMsg {
	text-align: center;
	margin: 15px 0;
}

.errorMsg span {
	padding: 10px 30px;
	background: rgb(255, 163, 163);
	color: rgb(198, 0, 0);
	border-radius: 5px;
}


